<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Common libraries for various projects written in .Net Standard</description>
  <keepDependencies>true</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.26.2">
      <projectUrl>https://github.com/Chibikov-Oleg/${JOB_NAME}/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.joelj.jenkins.eztemplates.TemplateProperty plugin="ez-templates@1.2.5"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Chibikov-Oleg/${JOB_NAME}.git</url>
        <credentialsId>adcf1098-df8d-44fd-b13a-1cad4f456423</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/Chibikov-Oleg/${JOB_NAME}.git</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.changeassemblyversion.ChangeAssemblyVersion plugin="change-assembly-version-plugin@1.5.1">
      <versionPattern>${BUILD_NUMBER}</versionPattern>
      <assemblyFile>**/*.csproj</assemblyFile>
      <regexPattern>\&lt;(Assembly)?(\w*)Version\&gt;(\d+).(\d+).(\d+).(\d+)</regexPattern>
      <replacementPattern>&lt;$1$2Version&gt;$3.$4.%s</replacementPattern>
    </org.jenkinsci.plugins.changeassemblyversion.ChangeAssemblyVersion>
    <hudson.tasks.BatchFile>
      <command>dotnet restore</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>dotnet build -c Debug</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>dotnet pack -c Debug --include-symbols</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*${JOB_NAME}*.nupkg</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <org.jenkinsci.plugins.nuget.publishers.NugetPublisher plugin="nuget@0.6">
      <name>CommonPublish</name>
      <packagesPattern>**/*${JOB_NAME}*.nupkg</packagesPattern>
      <publishPath></publishPath>
      <nugetPublicationName>Local Nuget Server</nugetPublicationName>
      <packagesExclusionPattern></packagesExclusionPattern>
      <doNotFailIfNoPackagesArePublished>false</doNotFailIfNoPackagesArePublished>
    </org.jenkinsci.plugins.nuget.publishers.NugetPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <patterns>
        <hudson.plugins.ws__cleanup.Pattern>
          <pattern>**/*.nupkg</pattern>
          <type>INCLUDE</type>
        </hudson.plugins.ws__cleanup.Pattern>
      </patterns>
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>